@import url("https://fonts.googleapis.com/css?family=Chivo|Pathway+Gothic+One");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Great+Vibes");
body {
  background: linear-gradient(100deg, #31aded, #38d29c); }

html body {
  font-family: 'Pathway Gothic One', sans-serif;
  font-family: 'Chivo', sans-serif;
  font-family: "Open Sans", sans-serif;
  color: #333; }
  html body h1,
  html body h2,
  html body h3,
  html body h4,
  html body h5,
  html body h6 {
    font-weight: 800;
    line-height: 120%; }
  html body h1 {
    font-size: 1.8em;
    margin-top: 0; }
  html body p {
    -ms-word-break: keep-all;
    -ms-word-wrap: normal;
    word-break: keep-all;
    word-break: keep-all;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
    -webkit-hyphenate-before: 2;
    -webkit-hyphenate-after: 3;
    hyphenate-lines: 3;
    -webkit-font-feature-settings: "liga", "dlig";
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig"; }
  html body .button {
    border: none;
    font-weight: 700;
    background: #333;
    color: #B79563;
    padding: 0.5em 1em;
    border-radius: 4px;
    box-shadow: 0 4px #B79563;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in; }
    html body .button:hover {
      top: 2px;
      box-shadow: 0 2px #B79563; }
  html body .hentry header {
    padding: 1em; }

#masthead.site-header {
  background: #333;
  padding-top: 1.5em; }
  #masthead.site-header .site-branding {
    width: 40%;
    margin-bottom: 1em; }
  #masthead.site-header .site-title a {
    font-family: 'Great Vibes', cursive;
    color: #B79563;
    font-size: 2em;
    line-height: 120%;
    font-weight: 100; }
  #masthead.site-header .site-description {
    margin-top: -1em; }
    #masthead.site-header .site-description p {
      color: #B79563;
      font-weight: 700;
      margin: 0 0 0.5em;
      position: relative;
      left: 14px; }
      #masthead.site-header .site-description p:first-child {
        position: relative;
        left: 14px;
        top: -2px;
        font-weight: 700;
        color: #efe8dd; }
  #masthead.site-header .storefront-primary-navigation {
    background: #B79563; }

#container .header {
  background: #FFF; }
  #container .header .header-logo,
  #container .header .header-nav {
    display: inline-block;
    vertical-align: top; }
  #container .header img {
    width: 120px;
    padding: 0.5em 0; }
  #container .header .header-logo {
    margin-right: 2em; }
  #container .header .header-nav {
    position: relative;
    top: 46px; }
  #container .header .nav li a {
    color: #333;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
    transition: all 0.1s ease-in; }
    #container .header .nav li a:hover {
      border-bottom: 1px solid #333333;
      background: rgba(51, 51, 51, 0.1);
      text-decoration: none; }
  #container .header .nav li.icon a {
    border: none !important; }
  #container .header .nav li.current_page_item a {
    border-bottom: 1px solid #333333;
    background: rgba(51, 51, 51, 0.1); }
#container .height-matched {
  box-sizing: border-box;
  border-radius: 3px; }
#container .footer {
  background: #333; }
  #container .footer .row .column {
    text-align: center;
    margin: 0.5em 0; }

.desktop-show,
#container .header .desktop-show {
  display: none; }

@media all and (max-width: 767px) {
  #inner-header.wrap {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    #inner-header.wrap .mobile-show {
      flex-grow: 1;
      margin: 0;
      text-align: center; }
      #inner-header.wrap .mobile-show img {
        text-align: center; }
    #inner-header.wrap .hamburger {
      text-align: left; }
    #inner-header.wrap .mobile-icons {
      text-align: right;
      padding: 05px 15px 0 15px; }
      #inner-header.wrap .mobile-icons li {
        display: inline-block; }
        #inner-header.wrap .mobile-icons li a .fa {
          font-size: 1.3em;
          color: #333;
          background: #B79563;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          line-height: 95%;
          padding: 7px;
          text-align: center;
          -webkit-transition: color 0.3s ease;
          -moz-transition: color 0.3s ease;
          -ms-transition: color 0.3s ease;
          -o-transition: color 0.3s ease;
          transition: color 0.3s ease; }
        #inner-header.wrap .mobile-icons li a:hover .fa {
          color: #B79563;
          background: #333; }

  #container .header .nav li.current_page_item a,
  #container .header .nav li a:hover {
    background: #333;
    color: #B79563; }
  #container .mobile-main-nav {
    display: none; }
    #container .mobile-main-nav li {
      text-align: center;
      border-top: 1px solid #7b6039; }
      #container .mobile-main-nav li a {
        background: #B79563;
        padding: 0.5em 0.7em;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -ms-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease; }
      #container .mobile-main-nav li.icon {
        width: 25%;
        display: inline-block;
        display: none; }
  #container .sidebar .widget {
    margin: 1.5em 1.5em 0; }
  #container #inner-footer .nav li {
    display: inline-block;
    vertical-align: top; } }
.sidebar-shows {
  margin: 1em 10px; }
  .sidebar-shows a {
    display: block;
    margin: 2em 0 0 0; }
    .sidebar-shows a img {
      width: 100%; }
  .sidebar-shows p {
    margin-top: 0; }

.testimonial {
  border-bottom: 1px solid rgba(183, 149, 99, 0.7); }
  .testimonial h4 {
    margin-bottom: 0.5em; }

#inner-content .hentry {
  border: none;
  border-radius: 3px; }
#inner-content .sidebar {
  background: #FFF;
  margin-top: 0; }

.searchform input[type="search"] {
  box-sizing: border-box;
  background: rgba(183, 149, 99, 0.2);
  color: #333;
  font-family: "Open Sans", sans-serif;
  max-width: none; }
  .searchform input[type="search"]:focus {
    background: #B79563; }
.searchform #searchsubmit {
  transition: all 0.2s ease-in;
  display: block;
  border: none;
  background: #e6e6e6;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 0.5em;
  width: 100%;
  border-radius: 5px; }
  .searchform #searchsubmit:hover {
    color: #e6e6e6;
    background: #333; }

@media all and (min-width: 768px) {
  .wrap {
    width: 96%; }

  #container .header .desktop-show {
    display: inline-block; }
    #container .header .desktop-show .nav li a {
      font-size: 0.9em; }

  #container .header .mobile-show {
    display: none; }

  html body h1 {
    font-size: 2.4em; }

  #container .footer .row .column {
    text-align: left; }
    #container .footer .row .column.right-aligned {
      text-align: right; } }
@media all and (min-width: 1030px) {
  #container .wrap {
    max-width: 100%;
    padding: 15px; }

  #container .header .desktop-show {
    display: inline-block; }
    #container .header .desktop-show .nav li a {
      font-size: 1em; } }
.category-list .column {
  text-align: center; }
  .category-list .column a.cat-link {
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid rgba(51, 51, 51, 0.3); }
    .category-list .column a.cat-link:hover {
      color: #333;
      border-bottom: 1px solid #333333; }
.category-list .column:nth-child(3n+1) {
  margin-left: 0; }

.cat-title {
  text-shadow: 2px 2px #B79563; }

.show-list h3 {
  margin-top: 0; }
  .show-list h3 a {
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid rgba(51, 51, 51, 0.3); }
    .show-list h3 a:hover {
      color: #333;
      border-bottom: 1px solid #333333; }
.show-list .button,
.show-list img {
  margin-bottom: 0 !important; }
.show-list .button {
  text-decoration: none;
  width: 100%;
  display: block;
  text-align: center; }
  .show-list .button:hover {
    color: #B79563; }

.entry-content .show-banner {
  margin-bottom: 0; }
.entry-content .show-link {
  margin: 0.5em 0; }

.ui-tabs-nav {
  padding-top: 1.5em; }
  .ui-tabs-nav .ui-tabs-tab {
    display: inline-block;
    vertical-align: top; }
    .ui-tabs-nav .ui-tabs-tab a {
      color: #333;
      text-decoration: none;
      border: 1px solid #333;
      border-bottom: 0;
      padding: 0.5em;
      font-weight: 500; }
    .ui-tabs-nav .ui-tabs-tab.ui-tabs-active a {
      background: #333;
      color: #FFF; }

@media all and (max-width: 400px) {
  .ui-tabs-nav .ui-tabs-tab {
    font-size: 0.8em; } }
.gallery .gallery-item,
.gallery .gallery-icon {
  display: inline-block;
  vertical-align: top;
  margin: 0.25em; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.entry-content img,
.entry-content iframe,
.entry-content object,
.entry-content embed {
  max-width: 100%; }

/*# sourceMappingURL=custom.css.map */
