$primary: rgb(34,32,81);
$secondary: rgb(78,255,187);

$font-main: 'Open Sans', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Chivo|Pathway+Gothic+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

// mixins
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin main-link {
	text-decoration: none;
	color: $primary;
	border-bottom: 1px solid rgba($primary, 0.3);

	&:hover {
		color: $primary;
		border-bottom: 1px solid rgba($primary, 1);
	}
}

// background
body {
	background: linear-gradient(100deg, #31aded, #38d29c);
}

html body {
	font-family: 'Pathway Gothic One', sans-serif;
	font-family: 'Chivo', sans-serif;
	font-family: $font-main;
	color: $primary;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 800;
		line-height: 120%;
	}

	h1 {
		font-size: 1.8em;
		margin-top: 0;
	}

    


    p {
		-ms-word-break: keep-all;
		-ms-word-wrap: normal;
		word-break: keep-all;
		word-break: keep-all;
		-webkit-hyphens: none;
		-moz-hyphens: none;
		hyphens: none;
		-webkit-hyphenate-before: 2;
		-webkit-hyphenate-after: 3;
		hyphenate-lines: 3;
		-webkit-font-feature-settings: "liga", "dlig";
		-moz-font-feature-settings: "liga=1, dlig=1";
		-ms-font-feature-settings: "liga", "dlig";
		-o-font-feature-settings: "liga", "dlig";
		font-feature-settings: "liga", "dlig";
	}

	.button {
		border: none;
		font-weight: 700;
		background: $primary;
		color: $secondary;
		padding: 0.5em 1em;
		border-radius: 4px;
		box-shadow: 0 4px $secondary;
		position: relative;
		top: 0;
		transition: all 0.1s ease-in;

		&:hover {
			top: 2px;
			box-shadow: 0 2px $secondary;
		}
	}

	// page override
	.hentry {

		header {
			padding: 1em;
		}
	}
}

#container {
	
	// header
	.header {
		background: #FFF;

		#inner-header {
			//background: rgba(0,0,0,0.03);
		}

		.header-logo,
		.header-nav {
			display: inline-block;
			vertical-align: top;
		}

		img {
			width: 120px;
			padding: 0.5em 0;
		}

		.header-logo {
			margin-right: 2em;
		}

		.header-nav {
			position: relative;
			top: 46px;
		}

		// navigation
		.nav {

			li {

				a {
					color: $primary;
					text-transform: uppercase;
					font-family: 'Open Sans', sans-serif;
					font-weight: 800;
					border-bottom: 1px solid rgba($primary, 0.3);
					transition: all 0.1s ease-in;

					&:hover {
						border-bottom: 1px solid rgba($primary, 1);
						background: rgba($primary, 0.1);
						text-decoration: none;
					}
				}

				&.icon a {
					border: none!important;
				}

				&.current_page_item a {
					border-bottom: 1px solid rgba($primary, 1);
					background: rgba($primary, 0.1);
				}
			}
		}
	}

	// Main and sidebar
	.height-matched {
		box-sizing: border-box;
		border-radius: 3px;
	}

	// footer
	.footer {
		background: $primary;

		.row {

			.column {
				text-align: center;
				margin: 0.5em 0;
			}
		}
	}
}




// mobile and desktop show/hide
.desktop-show,
#container .header .desktop-show {
	display: none;
}

// mobile specific
@media all and (max-width:767px) {
	#inner-header.wrap {
		width: 100%;
		display: flex;
		justify-content: space-between;

		.mobile-show {
			flex-grow: 1;
			margin: 0;
			//border: 1px solid red;
			text-align: center;

			img {
				text-align: center;
			}
		}

		// hamburger
		.hamburger {
			text-align: left;
		}

		// logo


		// icons
		.mobile-icons {
			text-align: right;
			padding: 05px 15px 0 15px;

			li {
				display: inline-block;

				a {

					.fa {
						font-size: 1.3em;
						color: $primary;
						background: $secondary;
						width: 35px;
						height: 35px;
						border-radius: 50%;
						line-height: 95%;
						padding: 7px;
						text-align: center;
						@include transition(color .3s ease);
					}

					&:hover .fa {
						color: $secondary;
						background: $primary;
					}
				}
			}
		}
	}

	#container {

		.header .nav li.current_page_item a,
		.header .nav li a:hover {
			background: $primary;
			color: $secondary;	
		}

		.mobile-main-nav {
			display: none;

			li {
				text-align: center;
				border-top: 1px solid darken($secondary, 20%);

				a {
					background: $secondary;
					padding: 0.5em 0.7em;
					@include transition(color .3s ease);
				}

				&.icon {
					width: 25%;
					display: inline-block;
					display: none;
				}
			}
		}

		// sidebar
		.sidebar {

			.widget {
				margin: 1.5em 1.5em 0;
			}
		}

		// footer
		#inner-footer {

			.nav {

				li {
					display: inline-block;
					vertical-align: top;
				}
			}
		}
	}
}


// featured show images
.sidebar-shows {
	margin: 1em 10px;

	a {
		display: block;
		margin: 2em 0 0 0;

		img {
			width: 100%;

		}
	}

	p {
		margin-top: 0;
	}
}



// page layouts

// testimonials
.testimonial {
	border-bottom: 1px solid rgba($secondary, 0.7);

	h4 {
		margin-bottom: 0.5em;
	}
}

// sidebar
#inner-content {

	.hentry {
		border: none;
		border-radius: 3px;
	}

	// main content area
	#main {

	}

	// sidebar
	.sidebar {
		background: #FFF;
		margin-top: 0;
	}

}


// search
.searchform {

	input[type="search"] {
		box-sizing: border-box;
		background: rgba($secondary, 0.2);
		color: $primary;
		font-family: $font-main;
		max-width: none;

		&:focus {
			background: $secondary;
		}
	}

	#searchsubmit {
		transition: all 0.2s ease-in;
		display: block;
		border: none;
		background: lighten($primary, 70%);
		color: $primary;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		padding: 0.5em;
		width: 100%;
		border-radius: 5px;

		&:hover {
			color: lighten($primary, 70%);
			background: $primary;
		}
	}
}



// desktop specific
@media all and (min-width:768px) {
	.wrap {
		width: 96%;
	}

	#container .header .desktop-show {
		display: inline-block;

		.nav {

			li {

				a {
					font-size: 0.9em;
				}
			}
		}
	}

	#container .header .mobile-show {
		display: none;
	}

	html body {

		h1 {
			font-size: 2.4em;

		}
	}

	#container {

		.footer {

			.row {

				.column {
					text-align: left;

					&.right-aligned {
						text-align: right;
					}
				}
			}
		}
	}
}

// desktop specific
@media all and (min-width:1030px) {

	#container .wrap {
		max-width: 100%;
		padding: 15px;
	}

	#container .header .desktop-show {
		display: inline-block;

		.nav {

			li {

				a {
					font-size: 1em;
				}
			}
		}
	}
}



// category list page
.category-list {

	.column {
		text-align: center;

		a.cat-link {
			@include main-link;
		}
	}

	.column:nth-child(3n+1) {
		margin-left: 0;
	}
}

// show list page

.cat-title {
	text-shadow: 2px 2px $secondary;
}

.show-list {

	h3 {
		margin-top: 0;

		a {
			@include main-link;
		}
	}

	.button,
	img {
		margin-bottom: 0!important;
	}

	.button {
		text-decoration: none;
		width: 100%;
		display: block;
		text-align: center;

		&:hover {
			color: $secondary;
		}
	}
}


// single show view
.entry-content {

	// banner
	.show-banner {
		margin-bottom: 0;
	}

	// links
	.show-link {
		margin: 0.5em 0;
	}
}




// tabs
.ui-tabs-nav {
	padding-top: 1.5em;

	.ui-tabs-tab {
		display: inline-block;
		vertical-align: top;

		a {
			color: $primary;
			text-decoration: none;
			border: 1px solid $primary;
			border-bottom: 0;
			padding: 0.5em;
			font-weight: 500;
		}

		&.ui-tabs-active {
			
			a {
				background: $primary;
				color: #FFF;
			}
		}
	}
}

@media all and (max-width: 400px) {
	.ui-tabs-nav {

		.ui-tabs-tab {
			font-size: 0.8em;
		}	
	}
}

.gallery {

	.gallery-item,
	.gallery-icon {
		display: inline-block;
		vertical-align: top;
		margin: 0.25em;
	}
}


// responsive fixes
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.entry-content img, 
.entry-content iframe, 
.entry-content object, 
.entry-content embed {
        max-width: 100%;
}
















































